<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js - lesson 1</title>
    <style>

    </style>
</head>
<body>
<style>
.tabs:not(:last-child) {
    margin-bottom: 1.5rem;
}
.tabs ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.tabs li {
    display: block;
}
.tabs li.is-active a {
    border-bottom-color: #00d1b2;
    color: #00d1b2;
}
.tabs a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    color: #4a4a4a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: -1px;
    padding: .5em 1em;
    vertical-align: top;
}
        .yellow {
            background: yellow
        }
        .green {
            background: green
        }
        .blue {
            background: blue
        }
</style>
	
<script type="text/x-template" id="tab-content">
  <div>
    {{tab}}
  </div>
</script>

<div id="r">
  <div class="container">
	  <div class="tabs">
		<ul>
		  <li v-for="tab in tabs" :class="{'is-active': tab.active}"><a @click="setActive(tab)">{{tab.title}}</a></li>
		</ul>
	  </div>
	  <tab-content v-if="debagTab.debag === true"   class="content" :tab="debagTab"/>
  </div>
	<ul v-bind:class="debagTab.color" >
		<li  v-for="it in debagTab.text">{{ it }}</li>
	</ul>
</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>
</html>